/*IMPORTAR FUENTES DE TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');
/*ESTILOS GLOBALES*/
* {
    font-size: 2dvh;
}

input[type="submit"],
a,
button {
    transition: transform 0.5s;
}

input[type="submit"]:hover,
a:hover,
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h1,
button,
.botonuni {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2dvh;
}

p,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input,
select,
option {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="submit"] {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.error {
    width: 90dvw;
    height: max-content;

    color: #00adc1;
    font-size: 3dvh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    left: 0;
    top: 0;
    background-color: #333333;

    position: absolute;
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-areas:
        "IMG IMG IMG"
        "HEA HEA HEA"
        "MAI MAI MAI"
        "FOO FOO FOO";
    grid-template-rows: 90dvh 7dvh auto 60dvh;
    grid-template-columns: auto auto auto;
}

.identificador{
    width: 20dvh;
    position: absolute;
    left: 0;
    height: 20dvh;
}
.barradebusqueda {
    position: sticky;
    z-index: 1000;
    top: 7dvh;
    opacity: 0;
    grid-area: BAR;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: opacity 0.5s;
    background: linear-gradient(#333333 20%, transparent);

}



.barradebusqueda.activo {
    pointer-events: all;
    opacity: 1;
}

.volverarriba {
    opacity: 1;
    pointer-events: all;
    grid-area: VOL;
    z-index: 2300;
    top: 7dvh;
}

.barradebusqueda img {
    height: 5dvh;
}



.barradebusqueda input[type="text"] {
    border: none;
    height: 4.80dvh;
    color: #333333;
    width: 30dvh;
    padding-left: 1dvh;
    transition: width 2s;
    border-radius: 25dvh 0dvh 0dvh 25dvh;
    padding-left: 2dvh;
}
.barradebusqueda p {
    border: none;
    height: 4dvh;
    color: white;
    border: solid white 0.5dvh;
    background-color: transparent;
    width: 13dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2dvh;
    border-radius: 25dvh;
    text-align: center;
    position: relative;
    overflow: hidden;
    pointer-events: none;
}
.barradebusqueda div{
    border-radius: 25dvh;
    background-color: white;
    margin-right: 2dvh;
}
.barradebusqueda p input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    cursor: pointer;
    pointer-events: all;
    
}

.barradebusqueda select {
    border: none;
    height: 4.90dvh;
    color: white;
    border: solid white 0.5dvh;
    background-color: transparent;
    width: 25dvh;
    margin-right: 2dvh;
    padding-left: 1dvh;
    border-radius: 25dvh;
    padding-left: 2dvh;
    text-align: center;
}


.universidad input,
.universidad select {
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    color: #333333;
    width: 30dvh;
    padding-left: 1dvh;
}

.barradebusqueda input[type="submit"],
.barradebusqueda button {
    border: none;
    border-radius: 0dvh 25dvh 25dvh 0dvh;
    height: 5dvh;
    width: 5dvh;
    background-color: white;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3dvh;
}

/*ESTILOS DE LA BARRA DE NAVEGACION*/
.header {

    grid-area: HEA;
    position: sticky;
    top: -1px;
    height: 7.1dvh;
    background-color: #333333;

    z-index: 1000;
    padding: 0.5dvh;
    box-shadow: 0 1dvh 2dvh rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas:
        "LOG . BTN"
    ;
    grid-template-rows: auto;
    grid-template-columns: 8dvh auto 15dvh;
    padding-right: 1dvh;
}

.boton_nose_que_estudiar {
    display: block;
    grid-area: BTN;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00aec3;
    text-decoration: none;
    font-size: 2dvh;
    text-align: left;
    padding-top: 0.4dvh;
    position: relative;
}

.circulopregunta {
    width: 5dvh;
    height: 5dvh;
    background-color: #00adc1;
    border-radius: 50dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    right: 0%;
    top: 0.5dvh;
}

.logo_pba_horizontal {
    grid-area: LOG;
    background-image: url(../imagenes/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*ESTILOS DEL CARRUCEL DE IMAGENES INICIAL*/

.carrusel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: IMG;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.imagenes{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}
.circulos {
    align-items: center;
    grid-area: CIR;
    display: flex;
    justify-content: center;
    gap: 2dvh;
    z-index: 1;
}

.circulo {
    width: 2dvh;
    height: 2dvh;
    background-color: white;
    border-radius: 50%;

    cursor: pointer;
}

.imagen {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    opacity: 0;
    object-fit: cover;
}
.imagen source{
    width: 100%;
height: max-content;
}

.imagen.activo {
    left: 0;
    opacity: 1;

}

.imagen.saliente {
    left: -100%;
}

.circulo.activo {
    background-color: #00adc1;
    /* Color del circulo activo */
}
.textura{
    background-image: url(../imagenes/SVG/textura.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    pointer-events: none;
    opacity: 14%;
    z-index: 2500;
}
.barradebusqueda *{
    z-index: 2501;

}
.texto1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2dvh;
    font-size: 4dvh;
    padding: 0.2dvh 1dvh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    grid-area: TEXT1;
}


.filtro {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background:radial-gradient(ellipse 150dvh 75dvh at 50% 20%, transparent, #333333 98%);
    display: grid;
    grid-template-areas:
        ". . ."
        ". TEXT1 ."
        ". . ."
        "CIR CIR CIR"
    ;
    gap: 1dvh;
    grid-template-rows: 1fr max-content 1fr 10dvh;
    grid-template-columns: 1fr 50% 1fr;
}




.logo_pba_vertical {
    width: 30dvh;
    height: 100%;
    background-color: white;
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    right: 5dvh;
    bottom: 0;
    box-shadow: -2dvh 2dvh 2dvh rgba(0, 0, 0, 0.2);
}

/*ESTILOS DEL CONTENIDO DEBAJO DEL CARRUCEL*/


.main {
    grid-area: MAI;

    display: grid;
    gap: 5dvh;
    grid-template:
        "BAR BAR BAR"
        "UNI UNI UNI"
        "VOL VOL VOL"
        ". . .";
    grid-template-rows: max-content auto 10dvh;
    grid-template-columns: auto auto auto;
}

/*ESTILOS DE LAS UNIVERSIDADES*/
.universidades {
    grid-area: UNI;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5dvh;
    flex-wrap: wrap;
}

.universidad {
    width: 45dvh;
    height: max-content;
    background-color: white;
    border-radius: 2dvh;
    box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.universidad .botonuni {
    font-size: 2dvh;
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    width: 18dvh;
    background-color: #e81f76;
    color: white;
    transform: translateY(-2.5dvh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.universidad .botonuni:hover {

    transform: translateY(-2.5dvh) scale(1.1);

}

.universidad .imagenesuni {
    width: 100%;
    height: 22dvh;
    display: grid;
    position: relative;
    grid-template:
        "." auto
        "CIR" 5dvh/
        1fr;
}

.circulo2 {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;

    cursor: pointer;
}

.circulo2.activo {
    background-color: #00adc1;
    /* Color del circulo activo */
}

.imagenuni {
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;

}

.imagenuni.activo {
    opacity: 1;
}

.universidad .nombreuni {
    padding-top: 1dvh;
    font-size: 3dvh;
    width: 100%;
    height: max-content;
    padding-left: 2dvh;
    padding-right: 2dvh;
    color: #00adc1;
    text-align: center;
}

.universidad .barrauni {

    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 90%;
    transform: translateY(2dvh);

}

.universidad .descripcionuni {
    width: 100%;
    height: 20dvh;
    overflow-y: auto;
    overflow-y: auto;
    padding-right: 2dvh;
    padding-left: 2dvh;
    text-align: start;
    transform: translateY(-3dvh);
}

/*ESTILOS DE LOS BOTONES DE COLORES*/
.boton {
    margin-top: 8dvh;
    width: 25dvh;
    height: 30dvh;
    border: none;
    background-color: transparent;
    border-radius: 50dvh;
    display: grid;
    grid-template-areas:
        ". BIMG ."
        "TEXTB TEXTB TEXTB";
    grid-template-rows: 22dvh auto;
    grid-template-columns: auto 22dvh auto;
    transition: transform 0.5s;
    justify-items: center;
    align-items: center;
}

.boton h1 {
    font-size: 2.5dvh;
    text-align: center;
    grid-area: TEXTB;
}

.boton .imagenboton {
    background-color: #00adc1;
    width: 100%;
    height: 100%;
    grid-area: BIMG;
    background-size: 16dvh;
    border-radius: 50dvh;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);

}

.botones {
   
    padding-bottom: 5dvh;
    grid-area: BOT;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: wrap;
}

.botones :nth-child(1) :nth-child(2) {
    color: #e81f76;
}

.botones :nth-child(2) :nth-child(2) {
    color: #78568e;
}

.botones :nth-child(3) :nth-child(2) {
    color: #37799f;
}

.botones :nth-child(4) :nth-child(2) {
    color: #00adc1;
}


.botones :nth-child(1) :nth-child(1) {
    background-color: #e81f76;
}

.botones :nth-child(2) :nth-child(1) {
    background-color: #78568e;
}

.botones :nth-child(3) :nth-child(1) {
    background-color: #37799f;
}

.botones :nth-child(4) :nth-child(1) {
    background-color: #00adc1;
}


/*ESTILOS EL FOOTER*/
.footer {
    grid-area: FOO;
    background: linear-gradient(to top, #eaeaea 75%, transparent);
    display: grid;
    grid-template:
        ". ."
        "LOG ."
        "LOG ."
        "REDE TEXT"
        ". .";
    grid-template-rows: auto 40dvh auto auto;
    grid-template-columns: 20% auto;
    position: relative;
}

.footer .imagenfooter {
    background-image: url(../imagenes/otros/imagen_footer2.png);
    background-repeat: repeat-x;
    background-size: 150dvh;
    background-position: top;
    height: 40dvh;
    width: 100%;
    position: absolute;
    top: 0;
    animation: footer 40s linear infinite;
}

.footer .logo_pba_vertical2 {
    grid-area: LOG;
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

}

.footer .textofooter {
    grid-area: TEXT;
    display: flex;
    gap: 1dvh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.textofooter h1 {

    text-align: center;
    color: #e81f76;
}

.footer .redesociales {
    grid-area: REDE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

.universidad .redesociales {
    background-color: white;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    transform: translateY(1dvh);
}

.universidad .redesociales .redsocial {
    width: 5dvh;
    height: 5dvh;
    border-radius: 25dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;

}

.footer .redesociales .redsocial {
    width: 3dvh;
    height: 3dvh;
    border-radius: 25dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;

}

#header {
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    opacity: 0%;
    pointer-events: none;
}

.visible {
    opacity: 100%;
}

[popover] {
    transition: visibility 1s;
    border: none;
    border-radius: 0.5dvh;
    background-color: white;
    /*
    background: linear-gradient(90deg, rgba(232,31,118,1) 0%, rgba(0,174,192,1) 100%);
 */
}

[popover] h1 {
    width: 70vw;
    text-align: center;
    color: #00adc1;
    font-weight: 700;
}

[popover] :nth-child(2) {
    width: 70vw;
    height: 86dvh;
}

body.inactive * {
    pointer-events: none;
}

body.inactive .pop2,
body.inactive .overlay {
    pointer-events: auto;
}
.etiquetas{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barraseparadora{
    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.casita_superior {
    width: 12dvh;
    height: 12dvh;
    background-image: url(../imagenes/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 4dvh;
    top: 4dvh;
}
.etiqueta{
    text-decoration: none;
    background-color: #e81f76;
    color: white;
    font-size: 2dvh;
    width: max-content;
    height: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/iconos/equis.svg);
    background-position: 0.8dvh 1dvh;
    background-repeat: no-repeat;
    background-size: 1dvh;
    border-radius: 25dvh;
    padding-left: 2.5dvh;
    padding-right: 1dvh;
}
@media (max-width: 1000px) {
    .universidad .imageninfo2 {
        display: none;
    }

    .universidad .barrauni3 {
        display: none;
    }

    .lista5 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5dvh;
        flex-wrap: wrap;
        width: 100%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    display: none;
    backdrop-filter: blur(1dvh);
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-position: left;
    background-size: 9%;
    background-repeat: no-repeat;
}

.pop2 {
    display: none;
    z-index: 3100;
}
.pop2  :nth-child(1)  {
    pointer-events: auto;
}
.pop2  :nth-child(2)  {
    pointer-events: auto;
}
/*ESTILOS PARA LA VERSION DE MOBILES*/
@media (max-width: 768px) {

    .botones :nth-child(1) :nth-child(2) {
        color: white;
        background-color: transparent;
    }

    .botones :nth-child(2) :nth-child(2) {
        color: white;
        background-color: transparent;

    }

    .botones :nth-child(3) :nth-child(2) {
        color: white;
        background-color: transparent;

    }

    .botones :nth-child(4) :nth-child(2) {
        color: white;
        background-color: transparent;

    }
    .botones {
        padding-top: 5dvh;
        padding-bottom: 5dvh;
        grid-area: BOT;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8%;
        flex-wrap: wrap;
    }
    input[type="submit"]:hover,
    a:hover,
    button:hover {
        cursor: pointer;
        transform: scale(1);
    }

    .boton h1 {
        font-size: 100%;
    }

    .botones :nth-child(1) {
        background-color: #e81f76;
    }

    .botones :nth-child(2) {
        background-color: #78568e;
    }

    .botones :nth-child(3) {
        background-color: #37799f;
    }

    .botones :nth-child(4) {
        background-color: #00adc1;
    }

    .boton .imagenboton {
        background-color: #00adc1;
        width: 100%;
        height: 100%;
        grid-area: BIMG;
        background-size: 16dvh;
        border-radius: 50dvh;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;

    }

    .barradebusqueda .imglupa {
        display: none;
    }
    
    .filtro {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to top, black, transparent);
        display: grid;
        grid-template-areas:
            ". . ."
            ". TEXT1 ."
            ". TEXT2 ."
            "CIR CIR CIR"
        ;
        gap: 1dvh;
        grid-template-rows: 1fr max-content max-content 20dvh;
        grid-template-columns: 2dvh auto 2dvh;
    }

    .filtro .texto1,
    .texto2 {
        font-size: 3dvh;
        text-align: center;
    }

    .logo_pba_vertical {
        height: 12dvh;
        width: 100%;
        background-color: white;
        background-image: url(../imagenes/otros/logo-pba-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: 0dvh;
        top: 5dvh;
        left: 0;
        box-shadow: -2dvh 2dvh 2dvh rgba(0, 0, 0, 0.2);
    }

    .universidad {
        width: 100%;
        height: max-content;
        background-color: white;
        border-radius: 0;
        box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    }

    .circulo {
        width: 2dvh;
        height: 2dvh;
    }
.botones{
    gap: 0px;
   
}
    .boton {
        margin-top: 0dvh;
        width: 50%;
        height: 25dvh;
        border: none;
        background-color: transparent;
        border-radius: 0dvh;
        display: grid;
        grid-template-areas:
            ". BIMG ."
            "TEXTB TEXTB TEXTB";
        grid-template-rows: 18dvh auto;
        grid-template-columns: auto 20dvh auto;
        justify-items: center;
        /* Centra los elementos horizontalmente */
        align-items: center;
    }

    .imagenboton {
        background-size: 10dvh;
    }

    .footer {
        grid-area: FOO;
        background: linear-gradient(to top, #eaeaea 65%, transparent);
        display: grid;
        grid-template:
            "."
            "LOG"
            "REDE"
            "TEXT"
            ".";
        grid-template-rows: auto 40dvh 0vh 4dvh;
        grid-template-columns: auto;
        position: relative;
        gap: 2dvh;
    }

    .textofooter ul,
    .textofooter p {
        width: 20dvh;
    }

    .header {
        grid-area: HEA;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000;
        padding: 0.5dvh;
        box-shadow: 0 1dvh 2dvh rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-areas:
            "LOG . BTN"
        ;
        grid-template-rows: auto;
        grid-template-columns: 30dvh auto 15dvh;
        padding-right: 1dvh;
    }

    [popover] :nth-child(2) {
        width: 80vw;
        height: 60dvh;
    }

    .footer .imagenfooter {
        animation: footer 180s linear infinite;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3000;
        display: none;
        backdrop-filter: blur(1dvh);
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url(../imagenes/otros/logo-pba-mobile.png);
        background-position: top;
        background-size: 50dvh;
        background-repeat: no-repeat;
    }
}

/*CONFETTI*/
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
}

.confetti {
    width: 10px;
    height: 20px;
    background-color: red;
    position: absolute;
    opacity: 0;
    animation: confettiFall linear infinite;

}

@keyframes confettiFall {
    0% {
        opacity: 100%;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0%;
        transform: translateY(100dvh) rotate(360deg);
    }
}

@keyframes footer {
    0% {
        background-position-x: -100dvh;
    }

    100% {
        background-position-x: 100dvh;
    }
}