/*IMPORTAR FUENTES DE TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

/*ESTILOS GLOBALES*/
* {
    margin: 0;
    padding: 0;
    font-size: 2dvh;
}

input[type="submit"],
a,
button {
    transition: transform 0.5s;
}

input[type="submit"]:hover,
a:hover,
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h1,
button,
.botonuni {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2dvh;
}

p,
a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input,
select {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

}

option {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

input[type="submit"] {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.error {
    width: 90dvw;
    height: max-content;

    color: #00adc1;
    font-size: 3dvh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    left: 0;
    top: 0;
    background-color: #333333;

    position: absolute;
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-areas:
        "IMG IMG IMG"
        "HEA HEA HEA"
        "MAI MAI MAI"
        "FOO FOO FOO";
    grid-template-rows: 90dvh 7dvh auto max-content;
    grid-template-columns: auto auto auto;
}

.identificador {
    width: 20dvh;
    position: absolute;
    left: 0;
    height: 20dvh;
}

.barradebusqueda {
    gap: 1dvh;
    position: sticky;
    z-index: 1000;
    top: 7dvh;
    grid-area: BAR;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #333333;
    padding-bottom: 2dvh;
}





.volverarriba {
    opacity: 1;
    pointer-events: all;
    grid-area: VOL;
    z-index: 1040;
    top: 7dvh;
    padding-bottom: 0%;

}

.barradebusqueda img {
    height: 5dvh;
}

.barradebusqueda input[type="text"] {
    border: none;
    height: 4.80dvh;
    color: #333333;
    width: 30dvh;
    border-radius: 25dvh;
    padding-left: 2dvh;
}

.barradebusqueda a {
    font-size: 1.8dvh;
    border: none;
    height: 4dvh;
    color: white;
    border: solid white 0.5dvh;
    background-color: transparent;
    width: 14dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25dvh;
    text-align: center;
    text-decoration: none;
}

.barradebusqueda div {
    border-radius: 25dvh;
    background-color: white;
}


.barradebusqueda select {
    border: none;
    height: 4.90dvh;
    color: white;
    border: solid white 0.5dvh;
    background-color: transparent;
    width: 25dvh;
    padding-left: 1dvh;
    border-radius: 25dvh;
    padding-left: 2dvh;
    text-align: center;
}


.universidad input,
.universidad select {
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    color: #333333;
    width: 30dvh;
    padding-left: 1dvh;
}

.barradebusqueda input[type="submit"],
.barradebusqueda button {
    border: none;
    border-radius: 25dvh;
    height: 5dvh;
    width: 5dvh;
    background-color: white;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3dvh;
}

/*ESTILOS DE LA BARRA DE NAVEGACION*/
.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6.1dvh;
    background-color: transparent;
    z-index: 1000;
    padding: 0.5dvh;
    display: grid;
    grid-template-areas:
        "LOG . BTN"
    ;
    grid-template-rows: auto;
    grid-template-columns: 8dvh auto 10dvh;
    padding-right: 1dvh;
}

.botonsalir {
    grid-area: BTN1;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 6dvh;
}

.contenidobarra {
    grid-area: CONT;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
    /* Cambiar dirección del contenido */

}

.contenidobarra a,
.contenidobarra #nada {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 10dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #333333;
    background-color: white;
    text-decoration: none;
}



.barralateral {

    width: 0dvh;
    height: 100%;
    position: fixed;
    transition: width 0.5s;
    background-color: #333333;
    right: 0%;
    top: 0%;
    z-index: 1100;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        ". BTN1"
        "CONT CONT"
        ". ."
    ;
    grid-template-rows: 8dvh auto 4dvh;
    grid-template-columns: auto 8dvh;

    background-image: url(../imagenes/SVG/mancha.svg), url(../imagenes/SVG/mancha2.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-size: 30dvh;
}

.barralateral.carro {
    grid-template-areas:
        "BTN2 BTN2"
        "CONT CONT"
        ". BTN1"
    ;
    grid-template-rows: 8dvh auto 8dvh;
    grid-template-columns: auto 8dvh;
}

.pagar {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #37799f;
    border-radius: 25dvh;
    margin: 1dvh;
    grid-area: BTN2;
    color: white;
    border: none;
    font-size: 2dvh;
    margin-left: 4dvh;
    margin-right: 4dvh;
}

.carrito {
    position: fixed;
    right: 5dvh;
    bottom: 5dvh;
    width: 8dvh;
    border: none;
    height: 8dvh;
    background-color: #333333;
    border-radius: 25dvh;
    background-image: url(../imagenes/SVG/carrito.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5dvh;
    z-index: 1050;
}

.barralateral.abierto {
    width: 50dvh;
    border-left: #333333 2dvh solid;

}

.header.visible {
    background-color: #333333;

}

.header.visible .logo {
    opacity: 100%;

}

.header.hidden {
    background-color: transparent;
}

.header.hidden .logo {
    opacity: 0%;
    pointer-events: none;
}

.user {
    color: white;
    display: block;
    grid-area: BTN;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 2dvh;
    text-align: left;
    padding-top: 0.4dvh;
    position: relative;
    background-image: url(../imagenes/SVG/persona.svg);
    background-size: 5dvh;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    margin-right: 2dvh;
    border: none;
}


.circulopregunta {
    width: 5dvh;
    height: 5dvh;
    background-color: #00adc1;
    border-radius: 50dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    right: 0%;
    top: 0.5dvh;
}

.volverarriba button {
    background-color: transparent;
}

.logo {
    transition: opacity 0.2s;
    grid-area: LOG;
    background-image: url(../imagenes/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logocarrusel {
    width: 10dvh;
    height: 10dvh;

    background-image: url(../imagenes/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 5dvh;
    top: 5dvh;
}

/*ESTILOS DEL CARRUCEL DE IMAGENES INICIAL*/

.carrusel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: IMG;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.imagenes {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

.circulos {
    align-items: center;
    grid-area: CIR;
    display: flex;
    justify-content: center;

    gap: 2dvh;
    z-index: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* Controla la duración del desvanecimiento */
}

.circulo {
    transition: all 0.5s;
    width: 8dvh;
    height: 8dvh;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    opacity: 0;
    object-fit: cover;
}

.imagen source {
    width: 100%;
    height: max-content;
}

.imagen.activo {
    left: 0;
    opacity: 1;

}

.imagen.saliente {
    left: -100%;
}

.circulo.activo {
    background-color: #75AADB;
    transform: translateY(-1dvh) rotate(25deg);
    /* Color del circulo activo */
}

#textura {
    background-image: url(../imagenes/SVG/textura.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 50%;
    pointer-events: none;
    z-index: 2500;
}

.texto1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2dvh;
    font-size: 4dvh;
    padding: 0.2dvh 1dvh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    grid-area: TEXT1;
    background-image: url(../imagenes/SVG/estrellas.svg);
    background-size: 12dvh;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 5dvh;
}


.filtro {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(ellipse 150dvh 75dvh at 50% 20%, transparent, #333333 98%);
    display: grid;
    grid-template-areas:
        ". . ."
        ". TEXT1 ."
        ". . ."
        "CIR CIR CIR"
    ;
    gap: 1dvh;
    grid-template-rows: 1fr max-content 1fr 10dvh;
    grid-template-columns: 1fr 50% 1fr;
}




.logo_pba_vertical {
    width: 30dvh;
    height: 100%;
    background-color: white;
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    right: 5dvh;
    bottom: 0;
    box-shadow: -2dvh 2dvh 2dvh rgba(0, 0, 0, 0.2);
}

/*ESTILOS DEL CONTENIDO DEBAJO DEL CARRUCEL*/


.main {
    grid-area: MAI;

    display: grid;
    gap: 5dvh;
    grid-template:
        "BAR BAR BAR"
        "UNI UNI UNI"
        "VOL VOL VOL"
        ". . .";
    grid-template-rows: max-content auto 10dvh;
    grid-template-columns: auto auto auto;
}

/*ESTILOS DE LAS UNIVERSIDADES*/
.productos {
    padding-top: 5dvh;
    padding-bottom: 5dvh;
    background-color: white;
    grid-area: UNI;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5dvh;
    flex-wrap: wrap;
    background-image: url(../imagenes/SVG/mancha.svg), url(../imagenes/SVG/mancha2.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    background-size: 50dvh;
}

.universidad {
    position: relative;
    width: 35dvh;
    height: fit-content;
    background-color: white;
    border-radius: 2dvh;
    box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    padding: 15px;
    transition: all 0.5s;
}

.productocarrito {
    position: relative;
    width: 100%;
    height: 15dvh;
    overflow: hidden;
    background-color: white;
    display: grid;
    grid-template:
        "NOM NOM ICO"
        "NOM NOM ICO"
        "BTN PREC PREC";
    padding: 2dvh;
    grid-template-rows: 10dvh auto auto;
    grid-template-columns: auto auto auto;
}

.productocarrito.botones2 {
    grid-template:
        "NOM NOM NOM ICO"
        "NOM NOM NOM ICO"
        "BTN BTN2 PREC PREC";
    padding: 2dvh;
    grid-template-rows: 10dvh auto auto;
    grid-template-columns: auto auto auto auto;
}

.productocarrito .nombre {
    grid-area: NOM;
    font-size: 2dvh;
    color: #333333;
}

.productocarrito .botonborrar {
    grid-area: BTN;
    font-size: 2dvh;
    color: #333333;
    border: none;
    border-radius: 25dvh;
    background-color: #75AADB;
    color: white;
    margin: 2dvh;
}

.productocarrito .botonborrar.solouno {
    grid-area: BTN2;
    font-size: 2dvh;
    color: #333333;
    border: none;
    border-radius: 25dvh;
    background-color: #75AADB;
    color: white;
    margin: 2dvh;
}

.productocarrito .precio {
    grid-area: PREC;
    font-size: 2dvh;
    color: #333333;
    text-align: end;
}

.productocarrito .icono {
    grid-area: ICO;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.productocarrito .icono ion-icon,
.productocarrito .icono i {
    font-size: 8dvh;
}

.universidad .botonuni {
    border: none;
    height: 100%;   
    width: 100%;
    text-decoration: none;
    position: absolute;
}

.universidad:hover {
    transform: translateY(-1dvh) scale(1.1);
}

.universidad .imagenesuni {
    width: 100%;
    height: 22dvh;
    display: grid;
    position: relative;
    grid-template:
        "." auto
        "CIR" 5dvh/
        1fr;
}

.circulo2 {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;

    cursor: pointer;
}

.circulo2.activo {
    background-color: #00adc1;
    /* Color del circulo activo */
}

.imagenuni {
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;

}

.imagenuni.activo {
    opacity: 1;
}

.universidad .icon {
    background-color: #D9D9D9;
    color: #333333;
    width: 100%;
    height: 25dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2dvh;
}

.universidad ion-icon {
    font-size: 9rem;
}

.universidad i {
    font-size: 7.4rem;
}

.universidad .nombreuni {
    /* padding-top: 1dvh; */
    font-size: 3dvh;
    width: 100%;
    height: 8dvh;
    padding-left: 2dvh;
    padding-right: 2dvh;
    color: #333333;
    text-align: center;
}

.universidad .barrauni {

    border-top: #75AADB solid 0.25dvh;
    height: 0.01dvh;
    width: 90%;
    transform: translateY(2dvh);

}

.universidad .descripcionuni {
    color: #75AADB;
    font-weight: bold;
    width: 100%;
    height: 2dvh;
    font-size: 2.5dvh;
    /* overflow-y: auto; */
    padding-right: 2dvh;
    padding-left: 2dvh;
    text-align: start;
    text-align: center;
    /* transform: translateY(-3dvh); */
}

/*ESTILOS DE LOS BOTONES DE COLORES*/
.boton {
    margin-top: 8dvh;
    width: 25dvh;
    height: 30dvh;
    border: none;
    background-color: transparent;
    border-radius: 50dvh;
    display: grid;
    grid-template-areas:
        ". BIMG ."
        "TEXTB TEXTB TEXTB";
    grid-template-rows: 22dvh auto;
    grid-template-columns: auto 22dvh auto;
    transition: transform 0.5s;
    justify-items: center;
    align-items: center;
}

.boton h1 {
    font-size: 2.5dvh;
    text-align: center;
    grid-area: TEXTB;
}

.boton .imagenboton {
    background-color: #00adc1;
    width: 100%;
    height: 100%;
    grid-area: BIMG;
    background-size: 16dvh;
    border-radius: 50dvh;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);

}

.botones {

    padding-bottom: 5dvh;
    grid-area: BOT;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: wrap;
}

.botones :nth-child(1) :nth-child(2) {
    color: #e81f76;
}

.botones :nth-child(2) :nth-child(2) {
    color: #78568e;
}

.botones :nth-child(3) :nth-child(2) {
    color: #37799f;
}

.botones :nth-child(4) :nth-child(2) {
    color: #00adc1;
}


.botones :nth-child(1) :nth-child(1) {
    background-color: #e81f76;
}

.botones :nth-child(2) :nth-child(1) {
    background-color: #78568e;
}

.botones :nth-child(3) :nth-child(1) {
    background-color: #37799f;
}

.botones :nth-child(4) :nth-child(1) {
    background-color: #00adc1;
}

/*ESTILOS EL FOOTER*/
.footer {
    grid-area: FOO;
    background: linear-gradient(to top, #eaeaea 75%, transparent);
    display: grid;
    grid-template:
        ". ."
        "LOG ."
        "LOG ."
        "REDE TEXT"
        ". .";
    grid-template-rows: auto 40dvh auto auto;
    grid-template-columns: 20% auto;
    position: relative;
}

.footer .imagenfooter {
    background-repeat: round;
    background-size: 20dvh;
    background-position: top;
    height: 40dvh;
    width: 100%;
    position: absolute;
    top: 0;
    animation: footer 40s linear infinite;
}

.footer .logo_pba_vertical2 {
    grid-area: LOG;
    background-image: url(../imagenes/SVG/logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

}

.footer .textofooter {
    grid-area: TEXT;
    display: flex;
    gap: 1dvh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.textofooter h1 {

    text-align: center;
    color: #e81f76;
}

.footer .redesociales {
    grid-area: REDE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

.universidad .redesociales {
    background-color: white;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    transform: translateY(1dvh);
}

.universidad .redesociales .redsocial {
    width: 5dvh;
    height: 5dvh;
    border-radius: 25dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;

}

.footer .redesociales .redsocial {
    width: 3dvh;
    height: 3dvh;
    border-radius: 25dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;

}

#header {
    transition: opacity 0.05s;
}



body.inactive * {
    pointer-events: none;
}

body.inactive .pop2,
body.inactive .overlay {
    pointer-events: auto;
}

.etiquetas {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraseparadora {
    border-top: #FCBF49 solid 0.5dvh;
    height: 0.01dvh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.etiqueta {
    text-decoration: none;
    background-color: #75AADB;
    color: white;
    font-size: 2dvh;
    width: max-content;
    height: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/iconos/equis.svg);
    background-position: 0.8dvh 1dvh;
    background-repeat: no-repeat;
    background-size: 1dvh;
    border-radius: 25dvh;
    padding-left: 2.5dvh;
    padding-right: 1dvh;
}




/*ESTILOS PARA LA VERSION DE MOBILES*/
@media (max-width: 768px) {
    .barradebusqueda {
        padding-top: 2dvh;
    }

    input[type="submit"]:hover,
    a:hover,
    button:hover {
        cursor: pointer;
        transform: scale(1);
    }


    .barralateral.abierto {
        transition: none;
        width: 100%;
        border-left: #333333 1dvh solid;

    }

    .filtro {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: radial-gradient(ellipse 150dvh 75dvh at 50% 20%, transparent, #333333 98%);
        display: grid;
        grid-template-areas:
            ". . ."
            "TEXT1 TEXT1 TEXT1"
            ". . ."
            "CIR CIR CIR"
        ;
        gap: 1dvh;
        grid-template-rows: 1fr max-content 1fr 10dvh;
        grid-template-columns: 2dvh 1fr 2dvh;
    }

    .filtro .texto1 {
        font-size: 3dvh;
        text-align: center;
    }


    .footer {
        grid-area: FOO;
        background: linear-gradient(to top, #eaeaea 65%, transparent);
        display: grid;
        grid-template:
            "."
            "LOG"
            "REDE"
            "TEXT"
            ".";
        grid-template-rows: auto 40dvh 0vh 4dvh;
        grid-template-columns: auto;
        position: relative;
        gap: 2dvh;
    }

    .textofooter ul,
    .textofooter p {
        width: 20dvh;
    }


    .footer .imagenfooter {
        animation: footer 180s linear infinite;
    }

}

/*CONFETTI*/
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
}

.confetti {
    width: 10px;
    height: 20px;
    background-color: red;
    position: absolute;
    opacity: 0;
    animation: confettiFall linear infinite;

}

@keyframes confettiFall {
    0% {
        opacity: 100%;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0%;
        transform: translateY(100dvh) rotate(360deg);
    }
}

@keyframes footer {
    0% {
        background-position-x: -100dvh;
    }

    100% {
        background-position-x: 100dvh;
    }
}
.cubrirtodo{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: #333333;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template: 
    ". . ."6dvh
    ". CON ."auto
    "FOO FOO FOO"auto/
    2dvh auto 2dvh;
}
.contenidohistorial {
    grid-area: CON;
    background-color: transparent;

}
.logocarrusel2 {
    width: 6dvh;
    height: 6dvh;

    background-image: url(../imagenes/iconos/casa.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 2dvh;
    top: 2dvh;
}