/*IMPORTAR FUENTES DE TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*ESTILOS GLOBALES*/
* {
    font-size: 2dvh;
}

input[type="submit"],
a,
button {
    transition: transform 0.5s;
}

input[type="submit"]:hover,
a:hover,
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h1,
button,
.botonuni,
h2,
h3 {
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2dvh;
}

p,
a,
label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input,
select,
option,
textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="submit"] {
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    left: 0;
    top: 0;
    position: absolute;
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-areas:
        "IMG IMG IMG"
        "HEA HEA HEA"
        "MAI MAI MAI"
        "FOO FOO FOO";
    grid-template-rows: 100dvh 7dvh auto 60dvh;
    grid-template-columns: auto auto auto;
}

[popover] {
    transition: visibility 1s;
    border: none;
    border-radius: 0.5dvh;
    background-color: white;
    /*
    background: linear-gradient(90deg, rgba(232,31,118,1) 0%, rgba(0,174,192,1) 100%);
 */
}
.error {
    width: 90dvw;
    height: max-content;

    color: #00adc1;
    font-size: 3dvh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

[popover]::backdrop {
    backdrop-filter: blur(1dvh);
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-position: left;
    background-size: 9%;
    background-repeat: no-repeat;
}

[popover] h1 {
    width: 80vw;
    text-align: center;
    color: #00adc1;
    font-weight: 700;
}

[popover] :nth-child(2) {
    width: 80vw;
    height: 86dvh;
}

/*ESTILOS DE LA BARRA DE BUSQUEDA Y PARA VOLVER HACIA ARRIBA*/
.barradebusqueda {
    position: sticky;
    z-index: 1000;
    top: 7dvh;
    opacity: 0;
    background-color: #00aec3;
    grid-area: BAR;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    gap: 1dvh;
    flex-wrap: wrap;
    box-shadow: 0 1dvh 2dvh rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s;
}

.barradebusqueda.activo {
    pointer-events: all;
    opacity: 1;
}

.volverarriba {
    opacity: 1;
    pointer-events: all;
    grid-area: VOL;
    z-index: 2000;
    top: 7dvh;
}

.barradebusqueda img {
    height: 5dvh;
}

.barradebusqueda input,
.barradebusquedaselect {
    box-shadow: 0 0.5dvh 1dvh rgba(0, 0, 0, 0.2);
}

.barradebusqueda input[type="text"],
.barradebusqueda select {
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    color: gray;
    width: 0dvh;
    padding-left: 1dvh;
    transition: width 2s;

}
.barradebusqueda.activo input[type="text"],
.barradebusqueda.activo select {
    width: 30dvh;
}
.universidad input,
.universidad textarea {
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    color: gray;
    width: 35dvh;
    padding-left: 1dvh;
    box-shadow: 0 0.5dvh 1dvh rgba(0, 0, 0, 0.2);
    margin-bottom: 2dvh;
    border: rgba(128, 128, 128, 0.438) solid 0.1dvh;
    margin-left: 10%;
    margin-right: 10%;
}

.universidad textarea {
    resize: none;
    height: 15dvh;
    margin-bottom: 5dvh;

}

.universidad input[type="submit"] {
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    background-color: #e81f76;
    color: white;
    padding-left: 2dvh;
    padding-right: 2dvh;
    margin-left: 20%;
    margin-right: 20%;
}

.barradebusqueda input[type="submit"],
.barradebusqueda button {
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    background-color: #e81f76;
    color: white;
    padding-left: 2dvh;
    padding-right: 2dvh;
}

/*ESTILOS DE LA BARRA DE NAVEGACION*/
.header {

    grid-area: HEA;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 0.5dvh;
    box-shadow: 0 1dvh 2dvh rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas:
        "LOG . BTN"
    ;
    grid-template-rows: auto;
    grid-template-columns: 40dvh auto 11dvh;
    padding-right: 1dvh;
}


#header {
    transition: opacity 0.2s ease-in-out;
}

.boton_nose_que_estudiar {
    display: block;
    grid-area: BTN;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00aec3;
    text-decoration: none;
    font-size: 2dvh;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo_pba_horizontal {
    grid-area: LOG;
    background-image: url(https://abc.gob.ar/core/themes/abc/logo-pba.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

/*ESTILOS DEL CARRUCEL DE IMAGENES INICIAL*/
.carrusel {
    background-image: url(../imagenes/otros/199.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: IMG;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: black;
}

.circulos {
    align-items: center;
    grid-area: CIR;
    display: flex;
    justify-content: center;
    gap: 2dvh;
}

.circulo {
    width: 2dvh;
    height: 2dvh;
    background-color: white;
    border-radius: 50%;

    cursor: pointer;
}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    opacity: 0;

}

.imagen.activo {
    left: 0;
    opacity: 1;

}

.imagen.saliente {
    left: -100%;
}

.circulo.activo {
    background-color: #00adc1;
    /* Color del circulo activo */
}

.texto1 {
    pointer-events: none;
    box-shadow: 0 1dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    font-size: 5dvh;
    background-color: #e81f76;
    color: black;
    display: inline;
    padding: 0.2dvh 1dvh;
    color: white;
}

.texto2 {
    pointer-events: none;
    box-shadow: 0 1dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    font-size: 5dvh;
    background-color: #00aec3;
    color: black;
    display: inline;
    padding: 0.2dvh 1dvh;
    color: white;
    max-width: 4dvh;
}

.filtro {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, black, transparent);
    display: grid;
    grid-template-areas:
        ". . ."
        ". TEXT1 ."
        ". TEXT2 ."
        "CIR CIR CIR"
    ;
    gap: 1dvh;
    grid-template-rows: 1fr max-content max-content 10dvh;
    grid-template-columns: 5dvh 50% 1fr;
}

.filtro :nth-child(1) {
    grid-area: TEXT1;
}

.filtro :nth-child(2) {
    grid-area: TEXT2;
}

.logo_pba_vertical {

    width: 16dvh;
    height: 37dvh;
    background-color: white;
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-size: 14dvh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 5dvh;
    bottom: 0;
    border-radius: 3dvh 3dvh 0dvh 0dvh;
    box-shadow: -2dvh 2dvh 2dvh rgba(0, 0, 0, 0.2);
}

/*ESTILOS DEL CONTENIDO DEBAJO DEL CARRUCEL*/
.identificador{
    width: 20dvh;
    height: 20dvh;
    position: absolute;
    left: 0;
}
.casita_superior {
    width: 6dvh;
    height: 6dvh;
    background-color: #e81f76;

    background-image: url(../imagenes/iconos/casa.svg);
    background-size: 4.5dvh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 2dvh;
    top: 2dvh;
    border-radius: 25dvh;
    box-shadow: 0.5dvh 0.5dvh 1dvh rgba(0, 0, 0, 0.2);
}
.informacion_superior {
    width: 6dvh;
    height: 6dvh;
    background-color: #00adc1;

    background-image: url(../imagenes/iconos/letra_i.svg);
    background-size: 4dvh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 2dvh;
    top: 2dvh;
    border-radius: 25dvh;
    box-shadow: 0.5dvh 0.5dvh 1dvh rgba(0, 0, 0, 0.2);
}
.main {
    grid-area: MAI;
    background-color: white;
    display: grid;
    gap: 10dvh;
    padding-top: 5dvh;
    grid-template:
        "INF INF INF"
        "BOT BOT BOT"
        "BAR BAR BAR"
        "UNI UNI UNI"
        "INFC INFC INFC"
        "VOL VOL VOL"
        ". . .";
    grid-template-rows: max-content max-content 10dvh auto max-content 10dvh;
    grid-template-columns: auto auto auto;
}

/*ESTILOS DE LAS UNIVERSIDADES*/
.etiquetas{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barraseparadora{
    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 80%;
}
.etiqueta{
    text-decoration: none;
    background-color: #e81f76;
    color: white;
    font-size: 2dvh;
    width: max-content;
    height: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/iconos/equis.svg);
    background-position: 0.8dvh 1dvh;
    background-repeat: no-repeat;
    background-size: 1dvh;
    border-radius: 25dvh;
    padding-left: 2.5dvh;
    padding-right: 1dvh;
}
.lista {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5dvh;
    flex-wrap: wrap;
}

.lista2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5dvh;
    flex-wrap: wrap;
}

.informacion {
    grid-area: INF;
}

.informacioncarrera {
    grid-area: INFC;
}

.universidades {
    grid-area: UNI;
}

.universidad {
    width: 45dvh;
    height: max-content;
    background-color: white;
    border-radius: 2dvh;
    box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.carreras {
    height: 45dvh;
}

.horizontal {
    justify-content: left;
    align-items: none;
    flex-wrap: nowrap;
}

.universidad .botonuni {
    font-size: 2dvh;
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    width: 18dvh;
    background-color: #e81f76;
    color: white;
    transform: translateY(-2.5dvh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20%;
    margin-right: 20%;
}

.universidad .botonuni:hover {
    transform: translateY(-2.5dvh) scale(1.1);
}

.universidad .imagenesuni {
    width: 100%;
    height: 22dvh;
    background-image: url(../imagenes/otros/coding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.universidad .imageninfo {
    width: 100%;
    height: 20dvh;
    background-color: #00adc1;
    background-size: 15dvh;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.5s;
}

.universidad .imageninfo2 {
    width: 18dvw;
    height: 100%;
    background-color: #00adc1;
    background-size: 15dvh;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.5s;
}

.universidad .imageninfo:hover {

    background-size: 20dvh;

}

.universidad .imageninfo2:hover {

    background-size: 20dvh;

}

.universidad .nombreuni {
    padding-top: 1dvh;
    font-size: 3dvh;
    width: 100%;
    height: max-content;
    padding-left: 2dvh;
    padding-right: 2dvh;
    text-align: center;
    color: #00adc1;
}

.universidad .nombreuni2 {
    padding-top: 1dvh;
    padding-bottom: 1dvh;

    font-size: 3dvh;
    width: 100%;
    height: max-content;
    padding-left: 2dvh;
    padding-right: 2dvh;
    color: white;
    background-color: #00adc1;
    ;
    text-align: center;
    transform: translateY(-3dvh);
}

.universidad .barrauni {

    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 90%;
    transform: translateY(2dvh);

}

.universidad .barrauni3 {
    transform: translateX(1dvw) translateY(2dvh);
    border-left: #00adc1 solid 0.25dvh;
    width: 5dvh;
    height: 90%;
    padding-right: 1dvh;

}

.universidad .barrauni2 {
    transform: translateY(-2.5dvh);
    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 40dvh;

}

.universidad .descripcionuni {
    width: 100%;
    height: max-content;
    overflow-y: auto;
    padding-right: 2dvh;
    padding-left: 2dvh;
    text-align: start;
    transform: translateY(-3dvh);
}


/*ESTILOS DE LOS BOTONES DE COLORES*/
.boton {
    margin-top: 8dvh;
    width: 25dvh;
    height: 30dvh;
    border: none;
    background-color: transparent;
    border-radius: 50dvh;
    display: grid;
    grid-template-areas:
        ". BIMG ."
        "TEXTB TEXTB TEXTB";
    grid-template-rows: 22dvh auto;
    grid-template-columns: auto 22dvh auto;
    transition: transform 0.5s;
    justify-items: center;
    align-items: center;
}

.boton h1 {
    font-size: 2.5dvh;
    text-align: center;
    grid-area: TEXTB;
}

.boton .imagenboton {
    box-shadow: 0 1dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    background-color: #00adc1;
    width: 100%;
    height: 100%;
    grid-area: BIMG;
    background-size: 16dvh;
    border-radius: 50dvh;
    background-repeat: no-repeat;
    background-position: center;
}

.botones {

    padding-bottom: 5dvh;
    grid-area: BOT;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: wrap;
}

.botones :nth-child(1) :nth-child(2) {
    color: #e81f76;
}

.botones :nth-child(2) :nth-child(2) {
    color: #78568e;
}

.botones :nth-child(3) :nth-child(2) {
    color: #37799f;
}

.botones :nth-child(4) :nth-child(2) {
    color: #00adc1;
}


.botones :nth-child(1) :nth-child(1) {
    background-color: #e81f76;
}

.botones :nth-child(2) :nth-child(1) {
    background-color: #78568e;
}

.botones :nth-child(3) :nth-child(1) {
    background-color: #37799f;
}

.botones :nth-child(4) :nth-child(1) {
    background-color: #00adc1;
}


/*ESTILOS EL FOOTER*/
.footer {
    grid-area: FOO;
    background: linear-gradient(to top, #eaeaea 75%, transparent);
    display: grid;
    grid-template:
        ". ."
        "LOG ."
        "LOG ."
        "REDE TEXT"
        ". .";
    grid-template-rows: auto 40dvh auto auto;
    grid-template-columns: 20% auto;
    position: relative;
}

.footer .imagenfooter {
    background-image: url(../imagenes/otros/imagen_footer2.png);
    background-repeat: repeat-x;
    background-size: 150dvh;
    background-position: top;
    height: 40dvh;
    width: 100%;
    position: absolute;
    top: 0;
    animation: footer 40s linear infinite;
}

.footer .logo_pba_vertical2 {
    grid-area: LOG;
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

}

.footer .textofooter {
    grid-area: TEXT;
    display: flex;
    gap: 1dvh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.textofooter h1 {

    text-align: center;
    color: #e81f76;
}

.footer .redesociales {
    grid-area: REDE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
}

.universidad .redesociales {
    width: 50dvh;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    transform: translateY(-2.5dvh);
}

.universidad .redesociales .redsocial {
    width: 6dvh;
    height: 6dvh;
    border-radius: 50dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;
}

.universidad .redesociales .redsocial2 {
    width: 6dvh;
    height: 6dvh;
    border-radius: 50dvh;
    overflow: hidden;
    background-size: 5dvh;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: #e81f76;
    font-size: 2dvh;
    transition: width 0.5s;
    color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.universidad .redesociales .redsocial2:hover {
    width: 20dvh;
    font-size: 2dvh;
    background-size: 0dvh;
    color: white;
}

.footer .redesociales .redsocial {
    width: 3dvh;
    height: 3dvh;
    border-radius: 25dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;
    display: none;

}

.hidden {
    opacity: 0%;
    pointer-events: none;
}

.visible {
    opacity: 100%;
}

.circulopregunta {
    width: 5dvh;
    height: 5dvh;
    background-color: #00adc1;
    border-radius: 50dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    right: 0%;
    top: 0.5dvh;
}

#info {
    width: auto;
    height: auto;
    grid-area: INFO;

}

#mapa {
    width: auto;
    height: auto;
    grid-area: MAP;
}

#mapa .imageninfo {
    height: 25dvw;
}

#redes {
    width: auto;
    height: auto;
    grid-area: REDE;

}

#formulariodecontacto {
    width: auto;
    height: auto;
    grid-area: INS;

}

.lista3 {
    display: grid;
    gap: 3vh;
    grid-template:
        ". . . . ." auto
        ". INFO INFO MAP ." 40dvh
        ". REDE INS MAP ." max-content
        ". . . . ." auto/
        auto 22dvw 22dvw 25dvw auto;
}

.lista3 #redes .imageninfo2,
.lista3 #redes .barrauni3 {
    display: none;
}

.lista3 #formulariodecontacto .imageninfo,
.lista3 #formulariodecontacto .barrauni {
    display: none;
}

.lista3 #redes .lista5 {
    width: 100%;
}

.lista4 {
    display: grid;
    gap: 3vh;
    grid-template:
        ". . . . ." auto
        ". INFO INFO MAP ." 40dvh
        ". REDE REDE MAP ." max-content
        ". . . . ." auto/
        auto 22dvw 22dvw 25dvw auto;
}

.lista5 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5dvh;
    flex-wrap: wrap;
    width: 90%;
}

body.inactive * {
    pointer-events: none;
}

body.inactive .pop2,
body.inactive .overlay {
    pointer-events: auto;
}

@media (max-width: 1400px) {
    .lista4 {
        display: grid;
        gap: 3vh;
        grid-template:
            ". . . . ." auto
            ". INFO INFO MAP ." 30dvh
            ". REDE REDE MAP ." 45dvh
            ". . . . ." auto/
            auto 25dvw 25dvw 30dvw auto;
    }

    .lista3 {
        display: grid;
        gap: 3vh;
        grid-template:
            ". . . . ." auto
            ". INFO INFO MAP ." 30dvh
            ". REDE INS MAP ." 45dvh
            ". . . . ." auto/
            auto 25dvw 25dvw 30dvw auto;
    }

    .universidad .imageninfo2 {
        display: none;
    }

    .universidad .barrauni3 {
        display: none;
    }

    .lista5 {
        overflow-y: auto;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0dvh;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
    }

    .lista5 .descripcionuni {
        height: 20dvh;
        overflow-y: auto;

    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    display: none;
    backdrop-filter: blur(1dvh);
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-position: left;
    background-size: 9%;
    background-repeat: no-repeat;
}

.pop2 {
    pointer-events: auto;
    display: none;
    z-index: 3100;
}
.pop2  :nth-child(1)  {
    pointer-events: auto;
}
.pop2  :nth-child(2)  {
    pointer-events: auto;
}
/*ESTILOS PARA LA VERSION DE MOBILES*/
@media (max-width: 768px) {

    #mapa,
    #formulariodecontacto {
        width: 100%;
    }

    .universidad .imageninfo2 {
        display: flex;
    }

    .universidad .barrauni3 {
        display: flex;
    }

    input[type="submit"]:hover,
    a:hover,
    button:hover {
        cursor: pointer;
        transform: scale(1);
    }
    .botones {
        padding-top: 5dvh;
        padding-bottom: 5dvh;
        grid-area: BOT;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8%;
        flex-wrap: wrap;
    }
    .botones :nth-child(1) :nth-child(2) {
        color: white;
        background-color: transparent;
    }

    .botones :nth-child(2) :nth-child(2) {
        color: white;
        background-color: transparent;

    }

    .botones :nth-child(3) :nth-child(2) {
        color: white;
        background-color: transparent;

    }

    .botones :nth-child(4) :nth-child(2) {
        color: white;
        background-color: transparent;

    }

    .boton h1 {
        font-size: 100%;
    }

    .botones :nth-child(1) {
        background-color: #e81f76;
    }

    .botones :nth-child(2) {
        background-color: #78568e;
    }

    .botones :nth-child(3) {
        background-color: #37799f;
    }

    .botones :nth-child(4) {
        background-color: #00adc1;
    }

    .boton .imagenboton {
        background-color: #00adc1;
        width: 100%;
        height: 100%;
        grid-area: BIMG;
        background-size: 16dvh;
        border-radius: 50dvh;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;

    }

    .lista3 #redes .imageninfo2,
    .lista3 #redes .barrauni3 {
        display: flex;
    }

    .lista3 #formulariodecontacto .imageninfo,
    .lista3 #formulariodecontacto .barrauni {
        display: flex;
    }

    .lista3 #redes .lista5 {
        width: auto;
    }

    .universidad .imageninfo2 {
        width: 100%;
        height: 20dvh;
        background-color: #00adc1;
        background-size: 15dvh;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-size 0.5s;
    }

    .horizontal {
        justify-content: center;
        align-items: top;
        flex-wrap: wrap;
    }

    .universidad .barrauni3 {

        border-top: #00adc1 solid 0.25dvh;
        height: 0.01dvh;
        width: 90%;
        transform: translateY(2dvh);

    }

    .lista3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5dvh;
        flex-wrap: wrap;
    }

    .lista4 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5dvh;
        flex-wrap: wrap;
    }

    .lista5 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5dvh;
        flex-wrap: wrap;
        width: 100%;
    }

    .universidad .botonuni {
        font-size: 2dvh;
        border: none;
        border-radius: 1.5dvh;
        height: 5dvh;
        width: 18dvh;
        background-color: #e81f76;
        color: white;
        transform: translateY(-2.5dvh);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 3dvh;
        margin-left: 20%;
        margin-right: 20%;
    }

    .universidad input,
    .universidad textarea {
        border: none;
        border-radius: 1.5dvh;
        height: 5dvh;
        color: gray;
        width: 35dvh;
        padding-left: 1dvh;
        box-shadow: 0 0.5dvh 1dvh rgba(0, 0, 0, 0.2);
        margin-bottom: 2dvh;
        border: rgba(128, 128, 128, 0.438) solid 0.1dvh;
        margin-left: 20%;
        margin-right: 20%;
    }

    #info {
        width: auto;
    }

    .barradebusqueda .imglupa {
        display: none;
    }

    .footer .imagenfooter {
        animation: footer 180s linear infinite;
    }

    .filtro {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to top, black, transparent);
        display: grid;
        grid-template-areas:
            ". . ."
            ". TEXT1 ."
            ". TEXT2 ."
            "CIR CIR CIR"
        ;
        gap: 1dvh;
        grid-template-rows: 1fr max-content max-content 20dvh;
        grid-template-columns: 2dvh auto 2dvh;
    }

    .filtro .texto1,
    .texto2 {
        font-size: 3dvh;
        text-align: center;
    }

    .logo_pba_vertical {
        height: 12dvh;
        width: 100%;
        background-color: white;
        background-image: url(../imagenes/otros/logo-pba-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        border-radius: 0%;
        bottom: 0dvh;
        top: 5dvh;
        left: 0;
        box-shadow: -2dvh 2dvh 2dvh rgba(0, 0, 0, 0.2);
    }

    .universidad {
        width: 100%;
        height: max-content;
        background-color: white;
        border-radius: 0;
        box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    }

    .circulo {
        width: 2dvh;
        height: 2dvh;
    }

    .botones{
        gap: 0px;
       
    }
        .boton {
            margin-top: 0dvh;
            width: 50%;
            height: 25dvh;
            border: none;
            background-color: transparent;
            border-radius: 0dvh;
            display: grid;
            grid-template-areas:
                ". BIMG ."
                "TEXTB TEXTB TEXTB";
            grid-template-rows: 18dvh auto;
            grid-template-columns: auto 20dvh auto;
            justify-items: center;
            /* Centra los elementos horizontalmente */
            align-items: center;
        }

    .imagenboton {
        background-size: 10dvh;
    }

    .footer {
        grid-area: FOO;
        background: linear-gradient(to top, #eaeaea 65%, transparent);
        display: grid;
        grid-template:
            "."
            "LOG"
            "REDE"
            "TEXT"
            ".";
        grid-template-rows: auto 40dvh 0vh 4dvh;
        grid-template-columns: auto;
        position: relative;
        gap: 2dvh;
    }

    .textofooter ul,
    .textofooter p {
        width: 20dvh;
    }
    .header {
        grid-area: HEA;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000;
        padding: 0.5dvh;
        box-shadow: 0 1dvh 2dvh rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-areas:
            "LOG . BTN"
        ;
        grid-template-rows: auto;
        grid-template-columns: 30dvh auto 11dvh;
        padding-right: 1dvh;
    }
    [popover] :nth-child(2) {
        width: 80vw;
        height: 60dvh;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3000;
        display: none;
        backdrop-filter: blur(1dvh);
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url(../imagenes/otros/logo-pba-mobile.png);
        background-position: top;
        background-size: 50dvh;
        background-repeat: no-repeat;
    }
}

/*CONFETTI*/
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
}

.confetti {
    width: 10px;
    height: 20px;
    background-color: red;
    position: absolute;
    opacity: 0;
    animation: confettiFall linear infinite;

}

@keyframes confettiFall {
    0% {
        opacity: 100%;
        transform: translateY(0) rotate(0deg);
    }

    100% {
        opacity: 0%;
        transform: translateY(100dvh) rotate(360deg);
    }
}

@keyframes footer {
    0% {
        background-position-x: -100dvh;
    }

    100% {
        background-position-x: 100dvh;
    }
}